# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Local environment secrets
.env

# Local scratch data / generated imports
tmp/
public/loading_icon.json
public/NomPlayer_crumb1.png
public/NomPlayer_crumb2.png
public/NomPlayer_crumb3.png
public/Nomplayer_icon_full.png
